div.container.allocations {
    text-align: center;
    margin: 20px;
}

div.container.allocations h1 {
    color: papayawhip;
}

div.container.allocations table {
    background-color: whitesmoke;
    border-spacing: 0px;
    margin-left: auto;
    margin-right: auto;
}

div.container.allocations table thead tr {
    background: orangered;
    color: floralwhite;
    font-family: "Times New Roman";
}


div.container.allocations table tbody tr td:first-child {
    background: lightgoldenrodyellow;
    width: auto;
    text-align: right;
}

div.container.allocations table tbody tr:not(:nth-child(12n+7)):not(:nth-child(12n+8)):not(:nth-child(12n+9)):not(:nth-child(12n+10)):not(:nth-child(12n+11)):not(:nth-child(12n+12)) td:first-child {
    background:palegoldenrod;
    width: auto;
    text-align: right;
}


div.container.allocations table tbody tr td{
    background: whitesmoke;
    width: 50px;
    /* ridge groove */
    border: 1px ridge whitesmoke;
}

div.container.allocations table tbody tr:not(:nth-child(12n+7)):not(:nth-child(12n+8)):not(:nth-child(12n+9)):not(:nth-child(12n+10)):not(:nth-child(12n+11)):not(:nth-child(12n+12)) td{
    background: floralwhite;
    width: 50px;
    /* ridge groove */
    border: 1px ridge floralwhite;
}

div.container.allocations table tbody tr td.moving {
    /* background-color: pink !important; */
    font-size: xx-small;
    color: black;
    border: 1px dashed #2b2b2b !important;
}


